body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: pink;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    font-weight: bolder;
}
button:hover{
    background-color: rgb(255, 167, 181);
}

#grid {
    display: flex;
    flex-direction: column;
    outline: 5px solid black;
}

.cell{
    outline: 1px solid lightgray;
}